body{

	padding: 0px;
	margin: 0px;
	
	background-image: image-url("application/BackgroundPattern.png");
	background-repeat: repeat;
	
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 500;
}

