<header>
	<div class="header-bar">
		<div class="container_12">
			<a href="/">
				 <div class="grid_3 suffix_1 logo">
				
				 </div>
			</a>
			<nav class="grid_6 top tk-futura-pt">
				<ul>
					<li><a href="/">Find a Job</a></li>
					<li><a href="/">Post a Job</a></li>
					<li><a href="/">Blog</a></li>
					<li><a href="/">Resources</a></li>
				</ul>
			</nav>
			
			<div class="login-top grid_2">
				Login here
			</div>
		</div>
	</div>
</header>